<div style="margin: 0 auto; ">
<div> Hello {{ name }}! </div>
<br />
<div>Greetings from VendorGlobe. <br />
    Your account is enabled by the Admin. Kindly visit <a href="vendorglobe.com/my_hotels/web/login">VendorGlobe</a> 
    and login with your credentials to view your dashboard!
</div>
<br />
<div>
    - Administrator
</div>
</div>